In [19]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [28]:
driver = webdriver.Firefox()

driver.get('https://www.worldometers.info/world-population/population-by-country/')
xp = "/html/body/div[3]/div[2]/div/div/div[2]/table/tbody/tr/td[{0}]"

countries     = driver.find_elements(by=By.XPATH, value = xp.format(2))
time.sleep(1)
populations   = driver.find_elements(by=By.XPATH, value = xp.format(3))
time.sleep(1)
yearly_change = driver.find_elements(by=By.XPATH, value = xp.format(4))
time.sleep(1)
world_share   = driver.find_elements(by=By.XPATH, value = xp.format(12))
time.sleep(1)

In [29]:
population_result = []
for i in range(len(yearly_change)):
    temp_data = {}
    temp_data['Country']       = countries[i].text
    temp_data['Populations']   = populations[i].text
    temp_data['Yearly Change'] = yearly_change[i].text
    temp_data['World Share']   = world_share[i].text
    population_result.append(temp_data)

driver.close()

In [31]:
df = pd.DataFrame(population_result)
df

              Country    Populations Yearly Change World Share
0               China  1,439,323,776        0.39 %     18.47 %
1               India  1,380,004,385        0.99 %     17.70 %
2       United States    331,002,651        0.59 %      4.25 %
3           Indonesia    273,523,615        1.07 %      3.51 %
4            Pakistan    220,892,340        2.00 %      2.83 %
..                ...            ...           ...         ...
230        Montserrat          4,992        0.06 %      0.00 %
231  Falkland Islands          3,480        3.05 %      0.00 %
232              Niue          1,626        0.68 %      0.00 %
233           Tokelau          1,357        1.27 %      0.00 %
234          Holy See            801        0.25 %      0.00 %

[235 rows x 4 columns]

In [35]:
df.to_excel('world_pops.xlsx', sheet_name='sheet1')